/* you can add to or change this. */
#title {
  width: 400px;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
  border: 2px black solid;
  align-content: center;
}
h1 {
  text-align: center;
}
button {
  margin: auto;
}

#game {
  margin-right: auto;
  margin-left: auto;
  width: 800px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#game div {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  margin: 20px;

}
#details {
  display: inline-flex;
  width: 100%;
  border: 2px red solid;
  justify-content: space-between;
}
#details > span {
  border: 2px green solid;
}

.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.orange {
  background-color: orange;
}
.green {
  background-color: green;
}
.purple {
  background-color: purple;
}
